<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <modules>
    <module assemblyFile="CodeMovement.EbcdicCompare.Presentation.dll" moduleType="CodeMovement.EbcdicCompare.Presentation.PresentationModule, CodeMovement.EbcdicCompare.Presentation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PresentationModule" startupLoaded="true" />
  </modules>
  <connectionStrings>
    <add name="CopybookDb" connectionString="Data Source=.\Copybook.db;Version=3" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="CopybookLocation" value=".\Copybooks" />
    <add key="ExternalEditor" value="C:\Program Files (x86)\Textplorer\TEP.exe" />
  </appSettings>
</configuration>