<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="CopybookDb" connectionString="Data Source=.\Copybook.db;Version=3" providerName="System.Data.SQLite" />
  </connectionStrings>
  <appSettings>
    <add key="CopybookLocation" value="C:\Users\c.moreside\Db\Copybooks" />
    <add key="ExternalEditor" value="C:\Program Files (x86)\Textplorer\TEP.exe" />
  </appSettings>
</configuration>